:global(.ant-layout-sider) {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.logo-img {
    width: 30px;
    margin: 0;
}

.logo-text {
    margin: 0 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}